.container{
  width: 400px;
  height: 40px;
  background-color: #c7e0e6;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  margin-top: 69px;
}

// make room for the Demo component
.accounts{
  height: inherit;
  display: inline-flex;
}