.addUserBtn{
  width: 80px;
  margin-top: 16px;
  margin-right: 5px;
  background-color: #4caf50;
  border-radius: 9px;
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
}

.removeUserBtn{
  @extend .addUserBtn;
  background-color: #f44336;
}