.observeDemoBtn{
  width: 138px;
  color: white;
  background-color: #367cb6;
  border-radius: 9px;
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: 500;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

.demoBtns{
  position: relative;
  text-align: center;
  top: 91px;
}

.observeText{
  margin-top: 7px;
}